/* ====== BODY ====== */
body {
	font-family: Open Sans, Helvetica, Serif;
	font-size: 16px;
}

.blog-post {
	position: relative;
}

a {
	background-color: transparent;
}
/* ====== HEADERS ====== */
@media (min-width: 768px) {
	.navbar-custom {
		background: #f8f8f8;
		padding: 10px;
	}
	.pictures {
		height: 400px;
	}

	.navbar-custom .navbar-brand {
		font-size: 1.75em;
	}
	.navbar-custom.affix {
		background: #f8f8f8;
		padding: 5px;
	}
}

@media (max-width: 600px){
	.pictures {
		height: 200px;
	}
}

.container>.navbar-header {
	background-color: #f8f8f8;
}

.navbar-custom {
	background: #f8f8f8;
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, 
.navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, 
.navbar-custom .navbar-brand:hover .navbar-custom .navbar-toggle {
	color: #888;
	background: transparent;
}

.navbar-custom .navbar-toggle {
	color: #000;
	border-color: #000;
}

.navbar-custom .navbar-toggle:hover {
	background-color: #18BC9C;
	color: #fff;
	border-color: #18BC9C;
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active,
	.navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
	color: #000;
}

.navbar-custom .navbar-nav li a:hover {
	color: #000;
}

.navbar-custom .navbar-nav>li>a {
	color: #888;
}
.hundred-days {
	text-align: center;
	font-size: 40px;
	margin-top: 140px;
	text-transform: none;
}

.title {
	text-align: center;
	margin: auto;
	font-size: 20px;
	text-transform: none;
	padding-top: 40px;
}

.date {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
	top: 5px;
	text-transform: none;
	font-size: 16px;
}

/* ====== TEXT ====== */
.blog-text {
	font-size: 15px;
	margin: auto;
	top: 3vh;	
	position: relative;
	line-height: 28px;
	color: #4c4c4c;
}

.pictures {
	position: relative;
	margin: 20 auto;
}